.breadcrumb {
	display: inline-flex;

	> * {
		&:not(:last-child) {
			margin-right: .875rem;
		}

		&:not(:last-child):after {
			content: '/';
			display: inline-block;

			margin-left: .5rem;
            color: hsl(227, 46%, 73%);
		}

		> * {
			display: inline-block;
		}
	}
}
