*::placeholder {
	color: rgba(255, 255, 255, .3);
}

*::-moz-placeholder {
	color: rgba(255, 255, 255, .3);
}

*::webkit-input-placeholder {
	color: rgba(255, 255, 255, .3);
}

%base-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 100%;
	height: 100%;
	padding-left: .75rem;
	padding-right: .75rem;

    color: var(--color-light-primary);

	background-color: hsl(var(--hsl-base-400)/0.2);
	font-size: 0.9375rem; // 15px
	vertical-align: top;

	border-radius: inherit;
	border: 1px solid hsl(var(--hsl-base-400)/0.3);

	outline: none;
    transition: all var(--timing-normal) ease;

    box-shadow: var(--raised-z6);

    &:hover {
        border: 1px solid hsl(var(--hsl-base-400)/0.7);
    }

    &:focus, :active {
		border-color: hsl(var(--hsl-primary)/0.6);
		box-shadow: 0 0 0 .175rem rgba(255, 255, 255, 0.125);
	}

    &[readonly] {
        cursor: pointer;
    }

	// size
	&.-big {
		.input,
		.select:not(.-multiple) {
			height: 3rem;
		}
		.input > input,
		.select:not(.-multiple) > select {
			font-size: 1.25rem;
			height: 100%;
		}
	}

	&.-small {
		.input,
		.select:not(.-multiple) {
			height: 1.875em;
		}
		.input > input,
		.select:not(.-multiple) > select {
			font-size: 0.75rem;
			height: 100%;
		}
	}
}

$components-colors: (
	'positive',
	'negative',
	'warning',
	'info',
);

.field {
	label {
		font-weight: 600;
		display: inline-block;
		margin-bottom: 0.5rem;
		font-size: 0.875rem;
	}

	small {
		display: inline-block;
		margin-top: 0.375rem;
	}

	// color
	@each $key, $value in $components-colors {
		&.-#{$key} {
			.input input,
			.textarea textarea,
			.select select {
				color: var(--color-#{$key}-700);
				border-color: var(--color-#{$key}-400);

				&:focus, :active {
					box-shadow: 0 0 0 .175rem var(--color-#{$key}-300);
				}
			}

			small, i {
				color: var(--color-#{$key}-500);
			}
		}
	};

	// size
	&.-big {
		.input,
		.select:not(.-multiple) {
			height: 3rem;
		}

		.input input,
		.select:not(.-multiple) select {
			font-size: 1.25rem;
			height: 100%;
		}
	}

	&.-small {
		.input,
		.select:not(.-multiple) {
			height: 1.875em;
		}

		.input input,
		.select:not(.-multiple) select {
			font-size: .75rem;
			height: 100%;
		}
	}

	// disabled
	&.-disabled,
	.disabled,
	[disabled] {
		.input input,
		.textarea textarea,
		.select select {
			cursor: not-allowed;
			background-color: var(--color-gray-100);
			border-color: var(--color-gray-300);
			color: var(--color-gray-400);

			&:hover {
				border-color: var(--color-gray-300);
			}
		}
	}

	.required {
		color: var(--hsl-negative);
		opacity: 0.9;
	}
}

.input,
.textarea,
.select {
	border-radius: 4px;
}

.input input,
.textarea textarea,
.select select {
	@extend %base-input;
}

.select {
	position: relative;

	select {
		padding-right: 32px;
		cursor: pointer;
	}

	&:after {
		content: '';
		border-left: 2px solid hsl(var(--hsl-base-400)/0.3);
		border-bottom: 2px solid hsl(var(--hsl-base-400)/0.3);
		height: 0.5rem;
		width: 0.5rem;
		position: absolute;
		right: 0.5rem;
		top: 50%;
		border-color: hsl(var(--hsl-base-400)/0.3);
		transform: rotate(-45deg) translate(0, calc(-50% - 4px));
		pointer-events: none;
	}
}

.textarea textarea {
	padding: 8px .75rem;
	line-height: 1.25;
}

.input,
.select {
	height: 2.5rem;
}

.radio {
	> input[type='radio'] {
		position: absolute;
		z-index: -1;

		opacity: 0;
		cursor: pointer;
		pointer-events: none;

		&:checked + label:after {
			content: '';
		}

		&:focus {
			+ label:before {
				box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary)/0.5);
			}
		}
	}

	> label {
		position: relative;
		display: inline-block;
		padding-left: 28px;
		line-height: 21px;
		cursor: pointer;
		user-select: none;

		&:before, &:after {
			content: '';
			position: absolute;
			display: inline-block;
		}

		&:before {
			box-sizing: border-box;
			width: 22px;
			height: 22px;
			left: 0px;
			border: 2px solid hsl(var(--hsl-primary));
			border-radius: 50%;
			background-color: white;
		}

		&:after {
			content: none;
			height: .75rem;
			width: .75rem;
			top: 5px;
			left: 5px;
			background-color: hsl(var(--hsl-primary));
			border-radius: 50%;
		}
	}
}

.field {
	&.-disabled {
		.radio {
			> label {
				cursor: not-allowed;
				color: var(--color-gray-400);

				&:before {
					border: 2px solid var(--color-gray-300);
				}

				&:after {
					background-color: var(--color-gray-300);
				}
			}
		}
	}
}

.checkbox {
	> input[type='checkbox'] {
		position: absolute;
		opacity: 0;

		cursor: pointer;
		pointer-events: none;

		&:checked {
			+ label:before {
				background: hsl(var(--hsl-primary));
				border: 1px solid hsl(var(--hsl-primary));
			}

			+ label:after {
				content: '';
			}
		}

		&:focus {
			+ label:before {
				box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary)/0.5);
			}
		}
	}

	> input[type='checkbox'] + label {
		position: relative;

		display: inline-block;
		height: 100%;

		padding-left: 28px;
		line-height: 19px;
		cursor: pointer;

		&:before, &:after {
			content: '';
			position: absolute;
			display: inline-block;
		}

		&:before {
			width: 20px;
			height: 20px;
			left: 0px;
			background-color:var(--color-light-primary);
			border: 1px solid var(--color-gray-300);
			border-radius: 4px;
			box-sizing: border-box;
		}

		&:after {
			content: none;
			height: 7px;
			width: .75rem;
			top: 5px;
			left: 4px;
			border-left-width: 2px;
			border-bottom-width: 2px;
			border-left-style: solid;
			border-bottom-style: solid;
			border-color: var(--color-light-primary);
			transform: rotate(-45deg);
		}

		&:hover:before {
			border: 1px solid var(--color-gray-400);
		}
	}
}

// input icon
.input.-has-icon-left,
.select.-has-icon-left,
.input.-has-icon-right {
	position: relative;

	> .icon {
		position: absolute;
		top: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 2.625rem;
		height: 100%;

		color: var(--color-gray-400);

		font-size: 1rem;
	}
}

.input.-has-icon-left {
	> input {
		padding-left: 2.625rem;
	}

	> .icon:not(.-is-right) {
		left: 0;
	}
}

.select.-has-icon-left {
	> select {
		padding-left: 2.625rem;
	}

	> .icon:not(.-is-right) {
		left: 0;
	}
}

.input.-has-icon-right {
	> input {
		padding-right: 2.625rem;
	}

	> .icon.-is-right {
		right: 0;
	}
}


.field.-small {
	.input.-has-icon-left {
		> input {
			padding-left: 2rem;
		}

		> .icon:not(.-is-right) {
			left: 0;

			width: 2rem;

			font-size: .875rem;
		}
	}
	.select.-has-icon-left {
		> select {
			padding-left: 2rem;
		}

		> .icon:not(.-is-right) {
			left: 0;

			width: 2rem;

			font-size: .875rem;
		}
	}
	.input.-has-icon-right {
		> input {
			padding-right: 2rem;
		}

		> .icon.-is-right {
			right: 0;

			width: 2rem;

			font-size: .875rem;
		}
	}
}

.field.-big {
	.input.-has-icon-left {
		> input {
			padding-left: 3rem;
		}

		> .icon:not(.-is-right) {
			left: 0;

			width: 3rem;

			font-size: 1.33333rem;
		}
	}
	.select.-has-icon-left {
		> select {
			padding-left: 3rem;
		}

		> .icon:not(.-is-right) {
			left: 0;

			width: 3rem;

			font-size: 1.33333rem;
		}
	}
	.input.-has-icon-right {
		> input {
			padding-right: 3rem;
		}

		> .icon.-is-right {
			right: 0;

			width: 3rem;

			font-size: 1.33333rem;
		}
	}
}

.input>input[type=file] {
	padding: 8px 12px;
}

input[type=number].-no-arrow {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;
}
