$timing-normal: 0.3s;
%base-modal-panel {
	position: relative;

	width: 100%;
	max-width: 30rem;

	margin: 0 auto;
	padding: 16px;
	border-radius: 8px;

	background: var(--color-neutral-800);

	transform: translate3d(0, 20px, 0);
	transition: all $timing-normal ease;
	border: 1px solid rgba(130, 130, 130, 0.26);

	opacity: 0;

	> .header {
		padding: 0 2rem;
		text-align: center;

		+ .description { margin-top: 0.25rem; }
		+ .content { margin-top: 2rem; }
	}

	> .description {
		padding: 0 2rem;

		font-size: var(--font-size-400);
		text-align: center;

		color: var(--color-dark-primary);

		+ .content { margin-top: 2rem; }
	}

	> .close {
		position: absolute;
		top: 0;
		right: 0;

		cursor: pointer;
	}
}

.#{$prefix}modal {
	position: fixed;
	overflow-y: auto;
	z-index: 3;

	display: flex;
	flex-direction: column;

	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	margin: auto;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	visibility: hidden;
	opacity: 0;

	transition: all $timing-normal ease;

	&:before,
	&:after {
		content: '';

		display: block;

		min-height: 2rem;
		height: 1.5rem;

		-webkit-box-flex: 1;
		box-flex: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;

	}

	> .#{$prefix}modal-panel {
		@extend %base-modal-panel;
	}

	&.-show {
		pointer-events: all;
		visibility: visible;
		opacity: 1;

		.#{$prefix}modal-panel {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
}
