.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	overflow-y: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition-timing-function: cubic-bezier(0.3, 0, .25, 1);
	transition-duration: 0.16s;
	transition-property: transform, opacity;
	pointer-events: none;
	opacity: 0;
	background: rgb(0 0 0 / 0.5);
	overscroll-behavior: contain;
	padding: 0 16px;

	&:before,
	&:after {
		display: block;
		flex-grow: 1;
		height: 1.5rem;
		min-height: 2rem;
		content: '';
	}

	.modal-panel {
		position: relative;
		width: 100%;
		max-width: 48rem;
		padding: 1.5rem;
		transition: all 0.16s ease-in-out;
		transform: translate3d(0, -12px, 0);
		border-radius: 0.75rem;
		background: hsl(var(--hsl-base-300));
	}

	.modal-close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		cursor: pointer;
		border-radius: 999px;
	}

	&.is-active {
		visibility: visible;
		pointer-events: all;
		opacity: 1;

		.modal-panel {
			transform: translate3d(0, 0, 0);
		}
	}
}
