.table {
	overflow-x: auto;
	overflow-y: visible;

	width: 100%;
	max-width: 100%;

	word-break: normal;

	border-collapsed: collapsed;
	border-spacing: 0;

	thead {
        font-size: 14px;
        background: hsl(var(--hsl-base-400)/0.3);
	}

	td, th {
		padding-top: 1rem;
		padding-bottom: 1rem;

		vertical-align: middle;
		text-align: left;

        &:first-child {
			padding-left: .75rem;
        }

        &:last-child {
            padding-right: .75rem;
        }

		&:not(:first-child){
			padding-left: 2rem;
		}
	}

	&.-ruled {
		tbody tr td {
			border-top: 1px solid hsl(var(--hsl-base-400)/0.3);
		}

		thead tr {
			padding-left: .75rem;
			padding-right: .75rem;
		}
	}

	&.-striped {
		tbody tr:nth-child(even) {
			background-color: hsl(var(--hsl-base-400)/0.2);
		}
	}

	.collapsed {
		width: 1%;
    }

    .table-action-container {
        display: grid;
        grid-auto-flow: column;
        grid-gap: .5rem;
        justify-content: end;
        padding-top: 10px;
        padding-bottom: 10px;
    }

	.row-error {
	  	background-color: hsl(var(--hsl-primary)/0.6);
	}
}

.has-table-action {
    padding-bottom: 70px;
}
