{{if .}}
<div class="nm-panel is-level-300 lo-12 _g-7">
	<h6>
		<i class="fa-solid fa-credit-card"></i>
		<strong class="_mgl-6">Billing</strong>
	</h6>
	<hr>
	<div class="lo-12 lo-6:sm _g-5">
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">CPU</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.CPU}}</span>
				<span>&nbsp;seconds</span>
			</div>
		</div>
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">Memory</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.Memory}}</span>
				<span>&nbsp;GiB-s</span>
			</div>
		</div>
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">Egress</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.Egress}}</span>
				<span>&nbsp;GiB</span>
			</div>
		</div>
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">Disk</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.Disk}}</span>
				<span>&nbsp;GiB-s</span>
			</div>
		</div>
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">Replica</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.Replica}}</span>
			</div>
		</div>
		<div class="_bgcl-base-200 _bgcl-opacity-60 _bdrd-3 _pd-6">
			<h4 class="_cl-primary">Price</h4>
			<div class="_mgt-4">
				<span class="_fs-6">{{.Price}}</span>
				<span>&nbsp;THB</span>
			</div>
		</div>
	</div>
</div>
{{end}}
