{{define "main"}}
	<h6>Dashboard</h6>
	<br>
	<div class="lo-12 lo-6:md _g-7 _alit-st">
		{{with .Page.ProjectInfo}}
		<div class="nm-panel is-level-300 lo-12 _g-7">
			<h6>
				<i class="fa-solid fa-project-diagram"></i>
				<strong class="_mgl-6">Project Info</strong>
			</h6>
			<hr>
			<div class="nm-field">
				<label for="input-project_name">Project Name</label>
				<div class="nm-input">
					<input id="input-project_name" readonly value="{{.Name}}">
				</div>
			</div>
			<div class="nm-field">
				<label for="input-project_id">Project ID</label>
				<div class="nm-input">
					<input id="input-project_id" readonly value={{.Project}}>
				</div>
			</div>
			<div class="nm-field">
				<label for="input-project_number">Project Number</label>
				<div class="nm-input">
					<input id="input-project_number" readonly value={{.ID}}>
				</div>
			</div>
			<div class="nm-field">
				<label for="input-project_billing">Billing Account ID</label>
				<div class="nm-input">
					<input id="input-project_billing" readonly value={{.BillingAccount}}>
				</div>
			</div>
			<!--		<hr>-->
			<!--		<a class="nm-link _dp-f _alit-ct" href="">-->
			<!--			<i class="fa-solid fa-arrow-right _fs-20"></i>-->
			<!--			<span class="_mgl-6">Project Settings</span>-->
			<!--		</a>-->
		</div>
		{{end}}

		<div hx-get="{{route "dashboard" (param "project" .Page.Project) (param "component" "billing")}}"
			 hx-trigger="every 600s">
            {{component "component.dashboard-billing" .Billing}}
		</div>
	</div>
{{end}}
