{{range .List}}
	<tr>
		<td>
            {{component "status-icon" .Status.String}}
			<a class="nm-link"
			   href="{{route "workload-identity.detail"
               (param "project" $.Page.Project)
               (param "location" .Location)
               (param "name" .Name)}}">
                {{.Name}}
			</a>
		</td>
		<td>{{.Location}}</td>
		<td data-format="datetime" data-value="{{.CreatedAt | datetime}}">{{.CreatedAt | datetime}}</td>
	</tr>
{{else}}
	<td colspan="3" class="_tal-ct">
        {{if .Forbidden}}
			You don't have permission to view data
        {{else}}
			No data
        {{end}}
	</td>
{{end}}
