$colors: (
	'light-primary': var(--color-light-primary),
	'light-secondary': var(--color-light-secondary),
	'dark-primary': var(--color-dark-primary),
	'dark-secondary': var(--color-dark-secondary)
);

$sm: 768px;
$md: 1024px;
$lg: 1280px;

$breakpoints: (
	'sm': $sm,
	'md': $md,
	'lg': $lg
);

:root {
	--color-light-primary: hsl(227, 100%, 93%);
	--color-light-secondary: hsl(227, 46%, 73%);
	--color-dark-primary: hsla(215, 15%, 28%, 0.96);
	--color-dark-secondary: hsla(220, 10%, 47%, 0.95);
}

:root {
	--timing-normal: 320ms;
	--timing-faster: 160ms;
	--timing-fastest: 80ms;
}

:root {
    --raised-z0: none;
    --raised-z1: 0px 2px 1px -1px rgba(0, 0, 0, 0.06),0px 1px 1px 0px rgba(0, 0, 0, 0.042),0px 1px 3px 0px rgba(0, 0, 0, 0.036);
    --raised-z2: 0px 3px 1px -2px rgba(0, 0, 0, 0.06),0px 2px 2px 0px rgba(0, 0, 0, 0.042),0px 1px 5px 0px rgba(0, 0, 0, 0.036);
    --raised-z3: 0px 3px 3px -2px rgba(0, 0, 0, 0.06),0px 3px 4px 0px rgba(0, 0, 0, 0.042),0px 1px 8px 0px rgba(0, 0, 0, 0.036);
    --raised-z4: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),0px 4px 5px 0px rgba(0, 0, 0, 0.042),0px 1px 10px 0px rgba(0, 0, 0, 0.036);
    --raised-z5: 0px 3px 5px -1px rgba(0, 0, 0, 0.06),0px 5px 8px 0px rgba(0, 0, 0, 0.042),0px 1px 14px 0px rgba(0, 0, 0, 0.036);
    --raised-z6: 0px 3px 5px -1px rgba(0, 0, 0, 0.06),0px 6px 10px 0px rgba(0, 0, 0, 0.042),0px 1px 18px 0px rgba(0, 0, 0, 0.036);
    --raised-z7: 0px 4px 5px -2px rgba(0, 0, 0, 0.06),0px 7px 10px 1px rgba(0, 0, 0, 0.042),0px 2px 16px 1px rgba(0, 0, 0, 0.036);
    --raised-z8: 0px 5px 5px -3px rgba(0, 0, 0, 0.06),0px 8px 10px 1px rgba(0, 0, 0, 0.042),0px 3px 14px 2px rgba(0, 0, 0, 0.036);
    --raised-z9: 0px 5px 6px -3px rgba(0, 0, 0, 0.06),0px 9px 12px 1px rgba(0, 0, 0, 0.042),0px 3px 16px 2px rgba(0, 0, 0, 0.036);
    --raised-z10: 0px 6px 6px -3px rgba(0, 0, 0, 0.06),0px 10px 14px 1px rgba(0, 0, 0, 0.042),0px 4px 18px 3px rgba(0, 0, 0, 0.036);
    --raised-z11: 0px 6px 7px -4px rgba(0, 0, 0, 0.06),0px 11px 15px 1px rgba(0, 0, 0, 0.042),0px 4px 20px 3px rgba(0, 0, 0, 0.036);
    --raised-z12: 0px 7px 8px -4px rgba(0, 0, 0, 0.06),0px 12px 17px 2px rgba(0, 0, 0, 0.042),0px 5px 22px 4px rgba(0, 0, 0, 0.036);
    --raised-z13: 0px 7px 8px -4px rgba(0, 0, 0, 0.06),0px 13px 19px 2px rgba(0, 0, 0, 0.042),0px 5px 24px 4px rgba(0, 0, 0, 0.036);
    --raised-z14: 0px 7px 9px -4px rgba(0, 0, 0, 0.06),0px 14px 21px 2px rgba(0, 0, 0, 0.042),0px 5px 26px 4px rgba(0, 0, 0, 0.036);
    --raised-z15: 0px 8px 9px -5px rgba(0, 0, 0, 0.06),0px 15px 22px 2px rgba(0, 0, 0, 0.042),0px 6px 28px 5px rgba(0, 0, 0, 0.036);
    --raised-z16: 0px 8px 10px -5px rgba(0, 0, 0, 0.06),0px 16px 24px 2px rgba(0, 0, 0, 0.042),0px 6px 30px 5px rgba(0, 0, 0, 0.036);
    --raised-z17: 0px 8px 11px -5px rgba(0, 0, 0, 0.06),0px 17px 26px 2px rgba(0, 0, 0, 0.042),0px 6px 32px 5px rgba(0, 0, 0, 0.036);
    --raised-z18: 0px 9px 11px -5px rgba(0, 0, 0, 0.06),0px 18px 28px 2px rgba(0, 0, 0, 0.042),0px 7px 34px 6px rgba(0, 0, 0, 0.036);
    --raised-z19: 0px 9px 12px -6px rgba(0, 0, 0, 0.06),0px 19px 29px 2px rgba(0, 0, 0, 0.042),0px 7px 36px 6px rgba(0, 0, 0, 0.036);
    --raised-z20: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z21: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z22: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z23: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z24: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
}

[data-theme=dark] {
	--hue-primary: 342;
	--hsl-primary: var(--hue-primary) 80% 58%;
	--hsl-primary-active: var(--hue-primary) 80% 54%;
	--hsl-primary-content: var(--hue-primary) 80% 98%;
	--hue-accent: 267;
	--hsl-accent: var(--hue-accent) 93% 65%;
	--hsl-accent-active: var(--hue-accent) 93% 60%;
	--hsl-accent-content: var(--hue-accent) 93% 98%;
	--hue-base: 226;
	--hsl-base-100: var(--hue-base) 39% 11%;
	--hsl-base-200: var(--hue-base) 39% 15%;
	--hsl-base-300: var(--hue-base) 39% 20%;
	--hsl-base-400: var(--hue-base) 39% 46%;
	--hsl-line: 227 30% 35%;
	--hsl-content: 227 100% 93%;
	--hsl-content-inv: 0 0% 85%;
	--hsl-positive: 168 72% 35%;
	--hsl-positive-content: 168 80% 95%;
	--hsl-negative: 5 78% 50%;
	--hsl-negative-content: 5 80% 97.5%;
	--hsl-warning: 45 90% 48%;
	--hsl-warning-content: 45 80% 97%;
	--hsl-info: 197 70% 54%;
	--hsl-info-content: 197 90% 97%;
	--hsl-black: 0 0% 0%;
	--hsl-white: 0 0% 100%;
	/*
	* Typography
	*********************************************/
	--ffml-primary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--ffml-secondary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--fs-14: 4.5rem;
	--fs-13: 3.5rem;
	--fs-12: 3rem;
	--fs-11: 2.5rem;
	--fs-10: 2.25rem;
	--fs-9: 2rem;
	--fs-8: 1.75rem;
	--fs-7: 1.5rem;
	--fs-6: 1.25rem;
	--fs-5: 1.125rem;
	--fs-4: 1rem;
	--fs-3: 0.9375rem;
	--fs-2: 0.875rem;
	--fs-1: 0.75rem;
	/*
	* Spacing
	*********************************************/
	--spc-0: 0rem;
	--spc-1: 0.0625rem;
	--spc-2: 0.125rem;
	--spc-3: 0.25rem;
	--spc-4: 0.5rem;
	--spc-5: 0.75rem;
	--spc-6: 1rem;
	--spc-7: 1.5rem;
	--spc-8: 2rem;
	--spc-9: 2.5rem;
	--spc-10: 3rem;
	--spc-11: 4rem;
	--spc-12: 6rem;
	--spc-13: 8rem;
	/*
	 * Box shadow
	 *********************************************/
	--bsd-hsl: 333deg 0% 50%;
	--bsd-100:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.05),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.05),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.05),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.05);
	--bsd-200:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.075),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.075),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.075),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.075),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.075);
	--bsd-300:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.1),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.1),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.1),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.1),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.1),
		0 2rem 2rem hsl(var(--bsd-hsl) / 0.1);
	--bsd-400:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.15),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.15),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.15),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.15),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.15),
		0 2rem 2rem hsl(var(--bsd-hsl) / 0.15),
		0 4rem 4rem hsl(var(--bsd-hsl) / 0.15);
  }

[data-theme=dark] {
	--lo-container-side-padding: 24px;
	--lo-page-aside-content--aside-width: 18.75rem;
	--form-element-small-font-size: 0.75rem;
	--form-element-medium-font-size: 0.875rem;
	--form-element-large-font-size: 1rem;
	/* form elements height */
	--form-element-small-height: 1.75em;
	--form-element-medium-height: 2.5em;
	--form-element-large-height: 3em;
	--form-element-border-radius: 0.375em;
	--form-element-label-font-size: 0.875rem;
	--form-element-label-font-family: var(--ffml-secondary);
	--form-element-label-font-weight: 600;
	--select-font-weight: 400;
	/* message */
	--message-font-size: 0.9375rem;
	--message-icon-font-size: 1.375rem;
	/* button */
	--button-border-radius: 0.5rem;
	--button-font-weight: 600;
	--button-font-family: var(--ffml-primary);
	--button-small-height: 1.75rem;
	--button-small-font-size: 0.8125rem;
	--button-medium-height: 2.5rem;
	--button-medium-font-size: 0.9375rem;
	--button-large-height: 3rem;
	--button-large-font-size: 1.125rem;
	/* select-button */
	--select-button-font-weight: 400;
	--select-button-font-family: var(--ffml-primary);
	--select-button-small-height: 1.75rem;
	--select-button-small-font-size: 0.75rem;
	--select-button-medium-height: 2rem;
	--select-button-medium-font-size: 0.875rem;
	--select-button-large-height: 2.625rem;
	--select-button-large-font-size: 1.125rem;
	/* tab */
	--tab-font-weight: 500;
	--tab-font-size: 0.9375rem;
	--tab-font-family: var(--ffml-secondary);
	--tab-height: 2.5rem;
	--tab-padding: 0 1.25rem;
	--tab-border-radius: 0.5rem;
	--tab-border-width: 0.0625rem;
	--tab-content-border-radius: 0.5rem;
	--tab-box-shadow: var(--ui-box-shadow-1);
	/* table */
}

[data-theme=light] {
	--hue-primary: 333;
	--hsl-primary: var(--hue-primary) 80% 65%;
	--hsl-primary-active: var(--hue-primary) 80% 58%;
	--hsl-primary-content: var(--hue-primary) 80% 98%;
	--hue-accent: 267;
	--hsl-accent: var(--hue-accent) 93% 65%;
	--hsl-accent-active: var(--hue-accent) 93% 60%;
	--hsl-accent-content: var(--hue-accent) 93% 98%;
	--hue-base: 222;
	--hsl-base-100: var(--hue-base) 30% 100%;
	--hsl-base-200: var(--hue-base) 30% 97%;
	--hsl-base-300: var(--hue-base) 30% 92%;
	--hsl-base-400: var(--hue-base) 30% 87%;
	--hsl-line: 222 30% 90%;
	--hsl-content: 215 15% 25%;
	--hsl-content-inv: 0 0% 85%;
	--hsl-positive: 168 72% 35%;
	--hsl-positive-content: 168 80% 95%;
	--hsl-negative: 5 78% 50%;
	--hsl-negative-content: 5 80% 97.5%;
	--hsl-warning: 45 90% 48%;
	--hsl-warning-content: 45 80% 97%;
	--hsl-info: 197 70% 54%;
	--hsl-info-content: 197 90% 97%;
	--hsl-black: 0 0% 0%;
	--hsl-white: 0 0% 100%;
	/*
	* Typography
	*********************************************/
	--ffml-primary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--ffml-secondary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--fs-14: 4.5rem;
	--fs-13: 3.5rem;
	--fs-12: 3rem;
	--fs-11: 2.5rem;
	--fs-10: 2.25rem;
	--fs-9: 2rem;
	--fs-8: 1.75rem;
	--fs-7: 1.5rem;
	--fs-6: 1.25rem;
	--fs-5: 1.125rem;
	--fs-4: 1rem;
	--fs-3: 0.9375rem;
	--fs-2: 0.875rem;
	--fs-1: 0.75rem;
	/*
	* Spacing
	*********************************************/
	--spc-0: 0rem;
	--spc-1: 0.0625rem;
	--spc-2: 0.125rem;
	--spc-3: 0.25rem;
	--spc-4: 0.5rem;
	--spc-5: 0.75rem;
	--spc-6: 1rem;
	--spc-7: 1.5rem;
	--spc-8: 2rem;
	--spc-9: 2.5rem;
	--spc-10: 3rem;
	--spc-11: 4rem;
	--spc-12: 6rem;
	--spc-13: 8rem;
	/*
	 * Box shadow
	 *********************************************/
	--bsd-hsl: 333deg 0% 50%;
	--bsd-100:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.05),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.05),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.05),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.05);
	--bsd-200:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.075),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.075),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.075),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.075),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.075);
	--bsd-300:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.1),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.1),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.1),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.1),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.1),
		0 2rem 2rem hsl(var(--bsd-hsl) / 0.1);
	--bsd-400:
		0 0.0625rem 0.0625rem hsl(var(--bsd-hsl) / 0.15),
		0 0.125rem 0.125rem hsl(var(--bsd-hsl) / 0.15),
		0 0.25rem 0.25rem hsl(var(--bsd-hsl) / 0.15),
		0 0.5rem 0.5rem hsl(var(--bsd-hsl) / 0.15),
		0 1rem 1rem hsl(var(--bsd-hsl) / 0.15),
		0 2rem 2rem hsl(var(--bsd-hsl) / 0.15),
		0 4rem 4rem hsl(var(--bsd-hsl) / 0.15);
}

[data-theme=light] {
	--lo-container-side-padding: 24px;
	--lo-page-aside-content--aside-width: 18.75rem;
	--form-element-small-font-size: 0.75rem;
	--form-element-medium-font-size: 0.875rem;
	--form-element-large-font-size: 1rem;
	/* form elements height */
	--form-element-small-height: 1.75em;
	--form-element-medium-height: 2.5em;
	--form-element-large-height: 3em;
	--form-element-border-radius: 0.375em;
	--form-element-label-font-size: 0.875rem;
	--form-element-label-font-family: var(--font-family-secondary);
	--form-element-label-font-weight: 600;
	--select-font-weight: 400;
	/* message */
	--message-font-size: 0.9375rem;
	--message-icon-font-size: 1.375rem;
	/* button */
	--button-border-radius: 0.5rem;
	--button-font-weight: 600;
	--button-font-family: var(--font-family-primary);
	--button-small-height: 1.75rem;
	--button-small-font-size: 0.8125rem;
	--button-medium-height: 2.5rem;
	--button-medium-font-size: 0.9375rem;
	--button-large-height: 3rem;
	--button-large-font-size: 1.125rem;
	/* select-button */
	--select-button-font-weight: 400;
	--select-button-font-family: var(--font-family-primary);
	--select-button-small-height: 1.75rem;
	--select-button-small-font-size: 0.75rem;
	--select-button-medium-height: 2rem;
	--select-button-medium-font-size: 0.875rem;
	--select-button-large-height: 2.625rem;
	--select-button-large-font-size: 1.125rem;
	/* tab */
	--tab-font-weight: 500;
	--tab-font-size: 0.9375rem;
	--tab-font-family: var(--font-family-secondary);
	--tab-height: 2.5rem;
	--tab-padding: 0 1.25rem;
	--tab-border-radius: 0.5rem;
	--tab-border-width: 0.0625rem;
	--tab-content-border-radius: 0.5rem;
	--tab-box-shadow: var(--ui-box-shadow-1);
	/* table */
}
