/*
 * Color
 *********************************************/
 :root {
    --color-primary-100: hsl(342, 80%, 95%);
    --color-primary-200: hsl(342, 80%, 92%);
    --color-primary-300: hsl(342, 80%, 88%);
    --color-primary-400: hsl(342, 80%, 64%);
    --color-primary-500: hsl(342, 80%, 58%);
    --color-primary-600: hsl(342, 80%, 54%);
    --color-primary-700: hsl(342, 66%, 44%);
    --color-primary-800: hsl(342, 66%, 38%);
    --color-primary-900: hsl(342, 66%, 31%);

    --color-secondary-100: hsl(207, 85%, 94%);
    --color-secondary-200: hsl(207, 85%, 90%);
    --color-secondary-300: hsl(207, 85%, 86%);
    --color-secondary-400: hsl(207, 100%, 48%);
    --color-secondary-500: hsl(207, 100%, 43%);
    --color-secondary-600: hsl(207, 100%, 38%);
    --color-secondary-700: hsl(207, 95%, 29%);
    --color-secondary-800: hsl(207, 95%, 24%);
    --color-secondary-900: hsl(207, 95%, 20%);

	--color-neutral-100: hsl(226, 30%, 52%);
	--color-neutral-200: hsl(226, 30%, 46%);
    --color-neutral-300: hsl(226, 30%, 40%);
	--color-neutral-400: hsl(226, 36%, 28%);
	--color-neutral-500: hsl(226, 36%, 25%);
    --color-neutral-600: hsl(226, 36%, 20%);
	--color-neutral-700: hsl(226, 39%, 17%);
	--color-neutral-800: hsl(226, 39%, 15%);
	--color-neutral-900: hsl(226, 39%, 11%);

	--color-positive-100: hsl(163, 75%, 95%);
	--color-positive-200: hsl(163, 75%, 90%);
	--color-positive-300: hsl(163, 75%, 83%);
	--color-positive-400: hsl(163, 100%, 34%);
	--color-positive-500: hsl(163, 100%, 31%);
	--color-positive-600: hsl(163, 100%, 27%);
	--color-positive-700: hsl(163, 80%, 19%);
	--color-positive-800: hsl(163, 80%, 16%);
	--color-positive-900: hsl(163, 80%, 13%);

	--color-negative-100: hsl(355, 85%, 96%);
	--color-negative-200: hsl(355, 85%, 93%);
	--color-negative-300: hsl(355, 85%, 89%);
	--color-negative-400: hsl(355, 79%, 70%);
	--color-negative-500: hsl(353, 79%, 63%);
	--color-negative-600: hsl(355, 79%, 58%);
	--color-negative-700: hsl(355, 75%, 42%);
	--color-negative-800: hsl(355, 75%, 39%);
	--color-negative-900: hsl(355, 75%, 36%);

	--color-info-100: hsl(200, 90%, 94%);
	--color-info-200: hsl(200, 90%, 89%);
	--color-info-300: hsl(200, 90%, 84%);
	--color-info-400: hsl(200, 83%, 60%);
	--color-info-500: hsl(200, 83%, 50%);
	--color-info-600: hsl(200, 83%, 45%);
	--color-info-700: hsl(200, 75%, 30%);
	--color-info-800: hsl(200, 75%, 26%);
	--color-info-900: hsl(200, 75%, 22%);

	--color-warning-100: hsl(48, 80%, 95%);
	--color-warning-200: hsl(48, 80%, 89%);
	--color-warning-300: hsl(48, 80%, 85%);
	--color-warning-400: hsl(48, 70%, 55%);
	--color-warning-500: hsl(48, 70%, 48%);
	--color-warning-600: hsl(48, 70%, 45%);
	--color-warning-700: hsl(48, 90%, 33%);
	--color-warning-800: hsl(48, 90%, 30%);
	--color-warning-900: hsl(48, 90%, 27%);

	--color-light-primary: hsl(227, 100%, 93%);
	--color-light-secondary: hsl(227, 46%, 73%);
	--color-dark-primary: hsla(215, 15%, 28%, 0.96);
	--color-dark-secondary: hsla(220, 10%, 47%, 0.95);

	// Secondary Palette
	--color-golden-poppy: hsl(47, 99%, 50%);
	--color-dark-cerulean: hsl(210, 96%, 28%);
	--color-bittersweet: hsl(4, 96%, 67%);
	--color-facebook: hsl(217, 51%, 45%);

	--color-shader: rgba(0, 0, 0 , 0.12);
}

/*
 * Font family
 *********************************************/
:root {
	--font-family-primary: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
	--font-family-secondary: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

/*
 * Typescale
 *********************************************/
:root {
	--font-size-1200: 3rem;     // 48px
	--font-size-1100: 2.5rem;   // 40px
	--font-size-1000: 2.25rem;  // 36px
	--font-size-900: 2rem;      // 32px
	--font-size-800: 1.75rem;   // 28px
	--font-size-700: 1.5rem;    // 24px
	--font-size-600: 1.25rem;   // 20px
	--font-size-500: 1.125rem;  // 18px
	--font-size-400: 1rem;      // 16px
	--font-size-300: 0.875rem;  // 14px
	--font-size-200: 0.75rem;   // 12px
	--font-size-100: 0.6875rem; // 11px
}

/*
 * Line height
 *********************************************/
 :root {
	--line-height-ui: 1;
	--line-height-default: 1.25;
	--line-height-paragraph: 1.65;
}

/*
 * Font weight
 *********************************************/
:root {
	--font-weight-default: 400;
	--font-weight-bold: 600;
	--font-weight-bolder: 700;
}

/*
 * Timing
 *********************************************/
:root {
	--timing-normal: 320ms;
	--timing-faster: 160ms;
	--timing-fastest: 80ms;
}

/*
 * Breakpoint
 *********************************************/
:root {
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;
}

:root {
    --raised-z0: none;
    --raised-z1: 0px 2px 1px -1px rgba(0, 0, 0, 0.06),0px 1px 1px 0px rgba(0, 0, 0, 0.042),0px 1px 3px 0px rgba(0, 0, 0, 0.036);
    --raised-z2: 0px 3px 1px -2px rgba(0, 0, 0, 0.06),0px 2px 2px 0px rgba(0, 0, 0, 0.042),0px 1px 5px 0px rgba(0, 0, 0, 0.036);
    --raised-z3: 0px 3px 3px -2px rgba(0, 0, 0, 0.06),0px 3px 4px 0px rgba(0, 0, 0, 0.042),0px 1px 8px 0px rgba(0, 0, 0, 0.036);
    --raised-z4: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),0px 4px 5px 0px rgba(0, 0, 0, 0.042),0px 1px 10px 0px rgba(0, 0, 0, 0.036);
    --raised-z5: 0px 3px 5px -1px rgba(0, 0, 0, 0.06),0px 5px 8px 0px rgba(0, 0, 0, 0.042),0px 1px 14px 0px rgba(0, 0, 0, 0.036);
    --raised-z6: 0px 3px 5px -1px rgba(0, 0, 0, 0.06),0px 6px 10px 0px rgba(0, 0, 0, 0.042),0px 1px 18px 0px rgba(0, 0, 0, 0.036);
    --raised-z7: 0px 4px 5px -2px rgba(0, 0, 0, 0.06),0px 7px 10px 1px rgba(0, 0, 0, 0.042),0px 2px 16px 1px rgba(0, 0, 0, 0.036);
    --raised-z8: 0px 5px 5px -3px rgba(0, 0, 0, 0.06),0px 8px 10px 1px rgba(0, 0, 0, 0.042),0px 3px 14px 2px rgba(0, 0, 0, 0.036);
    --raised-z9: 0px 5px 6px -3px rgba(0, 0, 0, 0.06),0px 9px 12px 1px rgba(0, 0, 0, 0.042),0px 3px 16px 2px rgba(0, 0, 0, 0.036);
    --raised-z10: 0px 6px 6px -3px rgba(0, 0, 0, 0.06),0px 10px 14px 1px rgba(0, 0, 0, 0.042),0px 4px 18px 3px rgba(0, 0, 0, 0.036);
    --raised-z11: 0px 6px 7px -4px rgba(0, 0, 0, 0.06),0px 11px 15px 1px rgba(0, 0, 0, 0.042),0px 4px 20px 3px rgba(0, 0, 0, 0.036);
    --raised-z12: 0px 7px 8px -4px rgba(0, 0, 0, 0.06),0px 12px 17px 2px rgba(0, 0, 0, 0.042),0px 5px 22px 4px rgba(0, 0, 0, 0.036);
    --raised-z13: 0px 7px 8px -4px rgba(0, 0, 0, 0.06),0px 13px 19px 2px rgba(0, 0, 0, 0.042),0px 5px 24px 4px rgba(0, 0, 0, 0.036);
    --raised-z14: 0px 7px 9px -4px rgba(0, 0, 0, 0.06),0px 14px 21px 2px rgba(0, 0, 0, 0.042),0px 5px 26px 4px rgba(0, 0, 0, 0.036);
    --raised-z15: 0px 8px 9px -5px rgba(0, 0, 0, 0.06),0px 15px 22px 2px rgba(0, 0, 0, 0.042),0px 6px 28px 5px rgba(0, 0, 0, 0.036);
    --raised-z16: 0px 8px 10px -5px rgba(0, 0, 0, 0.06),0px 16px 24px 2px rgba(0, 0, 0, 0.042),0px 6px 30px 5px rgba(0, 0, 0, 0.036);
    --raised-z17: 0px 8px 11px -5px rgba(0, 0, 0, 0.06),0px 17px 26px 2px rgba(0, 0, 0, 0.042),0px 6px 32px 5px rgba(0, 0, 0, 0.036);
    --raised-z18: 0px 9px 11px -5px rgba(0, 0, 0, 0.06),0px 18px 28px 2px rgba(0, 0, 0, 0.042),0px 7px 34px 6px rgba(0, 0, 0, 0.036);
    --raised-z19: 0px 9px 12px -6px rgba(0, 0, 0, 0.06),0px 19px 29px 2px rgba(0, 0, 0, 0.042),0px 7px 36px 6px rgba(0, 0, 0, 0.036);
    --raised-z20: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z21: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z22: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z23: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
    --raised-z24: 0px 10px 13px -6px rgba(0, 0, 0, 0.06),0px 20px 31px 3px rgba(0, 0, 0, 0.042),0px 8px 38px 7px rgba(0, 0, 0, 0.036);
}
