$header-height: 63px;
$sidebar-width: 270px;
$sidebar-width-sm: 70px;

$btn-border-width: 1px;

$components-colors: (
	'accent': color('panel'),
	'success': color('success'),
	'danger': color('danger'),
	'warning': color('warning'),
	'info': color('info'),
	'white': color('white'),
	'dark': color('dark'),
	'light': color('light'),
);
