// Spin
.u-animation-spin-1 {
	animation: spin 0.5s infinite linear;
}

.u-animation-spin-2 {
	animation: spin 1s infinite linear;
}

.u-animation-spin-3 {
	animation: spin 1.5s infinite linear;
}

.u-animation-spin-4 {
	animation: spin 2.5s infinite linear;
}

.u-animation-spin-5 {
	animation: spin 3s infinite linear;
}

.u-animation-spin-6 {
	animation: spin 5.5s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
